@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FootballBet.Shared
@using FootballBet.Shared.Models.Groups
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Create Betting Group</PageTitle>

<h1>Create Betting Group</h1>

        <EditForm Model="@bettingGroupDto" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputText id = "groupName" @bind-Value="bettingGroupDto.Name" />
            <InputText id = "description" @bind-Value="bettingGroupDto.Description" />
            <button type="submit">Ok</button>
        </EditForm>


@code {
    private BettingGroupDto bettingGroupDto = new();
    private async void HandleValidSubmit()
    {
        var test = await Http.PostAsJsonAsync("/group/", bettingGroupDto);
    }
}
