@using FootballBet.Shared.Models.Match
@using FootballBet.Client.Services
@inject IMatchService MatchService;

<MudPaper>
    <MudList>
        @foreach (var round in _matches.Select(m => m.Round).Distinct())
        {
            <div align="center">
            <MudText Typo="Typo.h4">@round</MudText>
            @foreach (var date in GetUniqueDatesForRound(round))
            {
                <MudText Typo="Typo.h5">@date.Date.ToString("dd/MM/yyyy")</MudText>
                @foreach (var game in GetGamesForDate(date))
                {
                    <MudListItem class="px-0">
                        <MatchComponent MatchData="@game"></MatchComponent>
                    </MudListItem>
                }
            }
            </div>
        }
    </MudList>

</MudPaper>

@code {
    IEnumerable<MatchDto> _matches = new List<MatchDto>();

    protected override async Task OnInitializedAsync()
    {
        _matches = (await MatchService.GetMatchesAsync()).OrderBy(m => m.Date).ToList();
        await base.OnInitializedAsync();
    }

    private List<DateTime> GetUniqueDatesForRound(string round)
    {
        return _matches.Where(m => m.Round == round).Select(m => m.Date.Date).OrderBy(m => m.Date).Distinct().ToList();
    }

    private List<MatchDto> GetGamesForDate(DateTime date)
    {
        return _matches.Where(m => m.Date.Date == date.Date).OrderBy(m => m.Date).ToList();
    }

}