@using FootballBet.Shared.Models.Bets


<MudSimpleTable Style="display: flex; flex-direction: row">
    <thead>
    <tr>
        <th>Your bet</th>
        <th>Base win</th>
        <th>Max win</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@($"{UserBet?.HomeGoals} - {UserBet?.AwayGoals}")</td>
        <td>@UserBet?.PotentialBaseWin</td>
        <td>@UserBet?.PotentialWin</td>
    </tr>
    </tbody>
</MudSimpleTable>


@code {

    [Parameter]
    public BetResponse? UserBet { get; set; }
    [Parameter]
    public string? BaseWinString { get; set; }

}