@using FootballBet.Shared.Models.Match
@using FootballBet.Client.Services


<MudPaper>
    <MudList>
        @foreach (var round in _matches.Select(m => m.Round).Distinct())
        {
            <div align="center">
            <MudText Typo="Typo.h4">@round</MudText>
            @foreach (var date in GetUniqueDatesForRound(round))
            {
                <MudText Typo="Typo.h5">@date.Date.ToString("dd/MM/yyyy")</MudText>
                <Virtualize Items="@GetGamesForDate(date)" Context="game">
                    <MudListItem class="px-0">
                        <MatchComponent MatchData="@game"></MatchComponent>
                    </MudListItem>
                </Virtualize>
            }
            </div>
        }
    </MudList>
</MudPaper>

@code {
    [Parameter]
    public List<MatchDto> _matches { get; set; } = new List<MatchDto>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private List<DateTime> GetUniqueDatesForRound(string round)
        => _matches.Where(m => m.Round == round).Select(m => m.Date.Date).OrderBy(m => m.Date).Distinct().ToList();


    private List<MatchDto> GetGamesForDate(DateTime date)
        => _matches.Where(m => m.Date.Date == date.Date).OrderBy(m => m.Date).ToList();  

}