@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent Class="pt-0">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </MudMainContent>
    <MudAppBar Bottom="true" Fixed="true" Color="Color.Primary" Elevation="1">
        <MudSpacer />
        <MudIconButton @onclick="NavigateToMyGroups" Icon="@Icons.Sharp.SportsSoccer" Color="Color.Secondary" />
        <MudSpacer />
    </MudAppBar>
</MudLayout>

@code {
    private void NavigateToMyGroups()
    {
        navigationManager.NavigateTo($"/mygroups");
    }
}