@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudMainContent Class="pt-0">
        <CascadingValue Value="@_theme" Name="_theme">
            <article>
                @Body
            </article>
        </CascadingValue>
    <div style="height:100px;"></div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode = false;
    private MudTheme _theme = new()
    {
        Palette = new()
        {
            Primary = "8CB369",
            Secondary = "92D5E6",
            Tertiary = "F0A868",
            AppbarBackground = "F0A868"
        }
    };

    private void NavigateToMyGroups()
    {
        navigationManager.NavigateTo($"/");
    }
}