@using FootballBet.Shared.Models.Odds
@using FootballBet.Shared.Models.Bets
@inject IDialogService DialogService
<style>
table {
  width: 100%;
  text-align: center;
}

th, td {
  text-align: right;
  padding-top: 10px;
  justify-content: center;
}
</style>
<MudSimpleTable>
    <thead>
    <tr>
        <th>Score</th>
        <th>Odds</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var row in Odds)
    {
        <tr @onclick="() => OpenDialog(row)">
            <td>@row.HomeTeamGoals - @row.AwayTeamGoals</td>
            <td style="@($"background:{_theme.PaletteDark.Secondary};")">@row.Odds</td>
        </tr>
    }
    </tbody>
</MudSimpleTable>


@code {

    [Parameter]
    public List<ExactScoreOddsDto> Odds { get; set; }
    [Parameter] public int MatchId { get; set; }
    [Parameter] public EventCallback<BetResponse> UserHasMadeBet { get; set; }
    private BetResponse UserBet { get; set; }

    private readonly MudTheme _theme = new();

    private void OpenDialog(ExactScoreOddsDto exactScoreOdds)
    {
        var parameters = new DialogParameters { { "ExactScoreOdds", exactScoreOdds }, { "MatchId", MatchId }, {"UserHasMadeBet", UserHasMadeBet} };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<BetDialog>("Place bet", parameters, options);
    }

}