@using FootballBet.Shared.Models.Odds
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<div>TESTING</div>
<MudPaper Style="display: flex; flex-direction: row; margin-bottom: 15px" Elevation="0">
    <MudPaper Style="width: 50%;">
        <MudText Align="Align.Center">@OddsText</MudText>
    </MudPaper>
    <MudPaper Style="@($"background:{_theme.PaletteDark.Secondary}; width: 50%")">
        <MudText Align="Align.Center">@OddsDtoParam.Odds</MudText>
    </MudPaper>
</MudPaper>

@code {

    [Parameter]
    public OddsDto OddsDtoParam { get; set; }

    [Parameter]
    public string? OddsText { get; set; }

    private bool _isDarkMode = true;
    private readonly MudTheme _theme = new();
}