@page "/bettingGroupOld"
@using FootballBet.Client.Components.Groups
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FootballBet.Shared
@using FootballBet.Shared.Models.Groups
@attribute [Authorize]
@inject HttpClient Http

<!--This page can only be accessed manually whilst it is being reworked-->


<h1>Invite member</h1>
<EditForm Model="@bettingGroupInvitation" OnValidSubmit="@HandleCreateInvitation">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Group Id</label>
    <InputText id="groupId" @bind-Value="bettingGroupInvitation.BettingGroupId" />
    <label>Email to invited user</label>
    <InputText id="invitedEmail" @bind-Value="bettingGroupInvitation.InvitedUserEmail" />
    <button type="submit">Ok</button>
</EditForm>



@code {
    private BettingGroupInvitationShared bettingGroupInvitation = new();

    
    private async void HandleCreateInvitation()
    {
        var invitation = await Http.PostAsJsonAsync("/group/invitation", bettingGroupInvitation);
        //add something to indicate invitation has been sent
    }
    
}
