@page "/seedDatabase"
@using FootballBet.Shared.Models.Football
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<PageTitle>Seed Database</PageTitle>

<h1>Click to seed database</h1>

<EditForm Model="@Seed" OnValidSubmit="@SeedDatabaseBtn">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Year</label>
    <InputText id="Year" @bind-Value="Seed.Year" />
    <label>League Id</label>
    <InputNumber id="LeagueId" @bind-Value="Seed.LeagueId" />
    <button class="btn btn-primary">Click to seed DB</button>
</EditForm>

@if (Result is not null)
{
    <p>@Result</p>
}


@code {
    private string? Result { get; set; }
    private SeedTeamsAndFixturesShared Seed { get; set; } = new();

    async Task SeedDatabaseBtn()
    {
        var response = await Http.PostAsJsonAsync($"/FootballLeague/seed", Seed);
        if (response.IsSuccessStatusCode)
        {
            Result = await response.Content.ReadAsStringAsync();
        }
    }
}
